<div class="d-flex">
                  {{fields.field_topnews_image.content}}
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                        <a class="text-secondary font-weight-semi-bold" href="">{{fields.field_description.content}}</a>
                    </div>
                </div>
             